body {
	padding-top: 76px;
}

.box-shadow {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
							0 4px 8px 0 rgba(0, 0, 0, .05);
}

.icone {
	height: 100px;
}

#home-quote {
	background: url('../img/bg-quote.jpg') center center;
	object-fit: cover;
}

@media (max-width: 767px) {
	#home-quote .display-4 {
		font-size: 2.5rem;
	}
	body {
		padding-top: 0;
	}
	.fixed-top {
		position: relative;
	}
}

.pergunta {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}
